<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078222309873-cbcm13ph4ui98b1ef301ucjqs9sg9o51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078222309873-cbcm13ph4ui98b1ef301ucjqs9sg9o51</string>
	<key>API_KEY</key>
	<string>AIzaSyCqwcB83kW20QjNLb2YE3LQOl_YzpEcaYM</string>
	<key>GCM_SENDER_ID</key>
	<string>1078222309873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.mesoft.testtask.testTask</string>
	<key>PROJECT_ID</key>
	<string>testtaskapp-7939a</string>
	<key>STORAGE_BUCKET</key>
	<string>testtaskapp-7939a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078222309873:ios:789f31220c1c3c518adc50</string>
</dict>
</plist>